@import url('https://fonts.googleapis.com/css?family=Chilanka|Press+Start+2P&display=swap');

/* * {
    border: 1px solid grey;

} */

body {
    font-family: 'Press Start 2P', cursive;
    color: #282828;
    margin: 0px;
    background-color: rgb(213, 235, 178);
}

.banner {
    display: flex;
    align-items: center;
    background: linear-gradient(rgb(68, 60, 65), rgb(90, 243, 18));
    height: 60px;
    width: 2000px;
    margin-bottom: 15px;
    overflow: hidden;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 23px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    /* width:100%;
    overflow: hidden; */
}

h3 {
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

/* ------------------ LOGIN PAGE ------------------ */


.command_prompt {
    margin-top: 40px;
    font-size: larger;
    text-align: center;
    color: rgb(80, 74, 74)
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fillin input {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    border: none;
    background: linear-gradient(rgb(255, 255, 255), rgb(245, 245, 245));
    color: black;
    height: 40px;
    width: 400px;
    font-size: 15px;
    font-family: 'Press Start 2P',
        cursive;
}

.fillin button {
    border: none;
    background: linear-gradient(rgb(68, 60, 65), rgb(90, 243, 18));
    color: black;
    height: 40px;
    width: 170px;
    margin-top: 30px;
    font-size: 15px;
    font-family: 'Press Start 2P',
        cursive;
    margin-left: 20px;
}

/* ------------------ GAMESLIST PAGE ------------------ */

.column_flex {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.column_one {
    width: 650px;
    text-align: justify;
}

.column_two {
    width: 50%;
    float: right;
}

.column_two p {
    line-height: 30px;
    color: rgb(80, 74, 74);
    margin-top: 30px;
    text-align: justify;
}

.column_three {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

button {
    border: none;
    background: linear-gradient(rgb(68, 60, 65), rgb(90, 243, 18));
    color: black;
    height: 40px;
    width: 170px;
    font-size: 15px;
    font-family: 'Press Start 2P',
        cursive;
    margin-left: 20px;
}

ul {
    list-style: none;
    margin-left: 20px;
    line-height: 20px;
}

ul button {
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 110px;
    font-size: 11px;
    padding: 2px;
    margin-left: 0px;
}

/* ------------------ GAMEVIEW PAGE ------------------ */


.template_div {
    width: 100%
}

.both-grids {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.player-banners {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.player-banners p {
    font-size: 12px;
}

#player-one {
    color: red;
}

.placeShipsRequest {
    color: rgb(243, 22, 22);
    animation: blinkingText2 1.2s infinite;
}

@keyframes blinkingText2 {
    0% {
        color: rgb(243, 22, 22);
    }

    49% {
        color: rgb(243, 22, 22);
    }

    60% {
        color: transparent;
    }

    99% {
        color: transparent;
    }

    100% {
        color: rgb(243, 22, 22);
    }
}

.shipButtons {
    display: flex;
    margin: -7px;
    margin-top: 10px;
    width: 30px;
}

.shipButtons img {
    width: 80px;
    height: 30px;
    border: 1px solid black;
}

.drag {
    padding-right: 5px;
}

.drop {
    width: 100%;
    height: 100%;
}

.drag button {
    background: none;
}

.drop.over {
    border-color: #aaa;
    background: #ccc;
}

.radio {
    font-size: 12px;
    line-height: 20px;
    margin-top: 40px;
}

.submit_buttons {
    display: flex;
    justify-items: right;
    margin-left: -3px;
}

.post_ships {
    width: 100px;
    margin-top: 30px;
    margin-left: 2px;
    font-size: 12px;
    padding: 2px;
}

table {
    border: solid black 2px;
    border-collapse: collapse;
}

td,
th {
    border: solid black 2px;
    width: 36px;
    height: 36px;
    text-align: center;
}

/* ------------------ LEADERBOARD PAGE ------------------ */

.leaderboard {
    border: none;
    display: flex;
    justify-content: center;
}

#leaderboard th,
#leaderboard td {
    border: solid black 2px;
    width: 120px;
    height: 50px;
}

@media all and (max-width: 900px) {
    .both-grids {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 2%;
    }

    #grid-two {
        margin-top: 70px;
    }
}